body {
  width: 100%;
}
.container__restaurant {
  width: auto;
}
.container__restaurant:first-child {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
  border: 2px solid #f2f2f2;
}
.container__restaurant:nth-child(2) {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
}
.container__restaurant:nth-child(3) {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
}
.container__restaurant:last-child {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
}
@media screen and (max-width: 667px){

}
