@charset "UTF-8";
/* Général */
@font-face {
  font-family: Roboto;
  src: url("../Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Shrikhand;
  src: url("../Fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  background-color: #f2f2f2;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.container__menu {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
}

.container__animationMenu {
  width: auto;
  height: auto;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f2f2f2;
  box-shadow: 5px 5px 5px 2px #d7d7d7;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}
.container__animationMenu .label__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__animationMenu .block__animaValidation {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: auto;
}
.container__animationMenu .block__animaValidation .block__tarifs {
  justify-content: flex-end;
  align-items: flex-end;
  height: 50px;
}

/* Bouton Commander */
.block__btn {
  height: 150px;
  width: auto;
  background-color: #f2f2f2;
  margin-top: 50px;
}

.element-btn {
  width: 260px;
  height: 80px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  border-radius: 40px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
}
.container__down h4 {
  margin: 0 0 5px 40px;
  font-family: Shrikhand;
}
.container__down ul li {
  list-style: none;
  margin-bottom: 5px;
}
.container__down ul li a {
  color: #ffff;
  text-decoration: none;
}