@charset "UTF-8";
/* Général */
@font-face {
  font-family: Roboto;
  src: url("../Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Shrikhand;
  src: url("../Fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  height: 70px;
  background-color: #ffff;
}
header .navBar {
  width: 100%;
  height: 2vh;
  z-index: 1;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}
header .navBar .container__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
  margin-right: 80px;
  padding: 15px;
}
header .navBar .block__iconHtml {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  padding-right: 40px;
  margin-left: 15px;
}
header .navBar .color-IconIndex {
  color: #000;
}
header .navBar .block__Logo {
  width: auto;
}

.block__images {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.container__menu {
  width: auto;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  padding: 15px;
  z-index: 0;
}

.block__menu {
  width: auto;
}
.block__menu .container__titreRestaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__animationMenu {
  width: 95%;
  height: 100px;
  padding: 15px;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px 50px 0 0;
  cursor: pointer;
}
.container__animationMenu .label__menu {
  width: 85%;
  height: 85%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #f2f2f2;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
}
.container__animationMenu .label__menu .titre-dish {
  font-weight: 700;
}
.container__animationMenu .label__menu .titre-dish .dish-specificite {
  font-weight: 400;
  display: flex;
  flex-direction: row;
}
.container__animationMenu .label__menu .titre-dish .dish-specificite--hidden {
  opacity: 1;
}
.container__animationMenu .label__menu .titre-dish .threePoints {
  opacity: 0;
}
.container__animationMenu .block__tarifs {
  width: 12%;
  height: 85%;
  background-color: #fff;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container__animationMenu .block__tarifs .tarifs {
  height: 85px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.container__animationMenu .animaValidation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 85%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.container__animationMenu .animaValidation .check-ok {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__animationMenu .animaValidation .check-ok .fa-check {
  background-color: #fff;
  color: #99E2D0;
}

.titreMenu .titreMenu-underline {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

/* Bouton Commander */
.block__btn {
  height: 150px;
  width: auto;
  background-color: #f2f2f2;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.block__btn .element-btn {
  width: 260px;
  height: 80px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  border-radius: 40px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
}
.container__down h4 {
  margin: 0 0 5px 40px;
  font-family: Shrikhand;
}
.container__down ul li {
  list-style: none;
  margin-bottom: 5px;
}
.container__down ul li a {
  text-decoration: none;
  color: #ffff;
}