@charset "UTF-8";
/*Général*/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  height: 70px;
  background-color: #ffff;
  z-index: 1;
}
header .navBar {
  width: 100%;
  height: 2vh;
  z-index: 1;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
header .navBar .container__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
  margin-right: 80px;
  padding: 15px;
}
header .navBar .block__iconHtml {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  padding-right: 40px;
  margin-left: 15px;
}
header .navBar .color-IconIndex {
  color: #000;
}
header .navBar .block__Logo {
  width: auto;
}

#block__RestoPalette {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  max-width: 100%;
  height: 41.04vh;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoLanote {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  max-width: 100%;
  height: 41.04vh;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoAlafrancaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  max-width: 100%;
  height: 41.04vh;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoDelice {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  max-width: 100%;
  height: 41.04vh;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

.container__menu {
  max-width: 100%;
  height: 95.76vh;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  padding: 15px 10px;
  z-index: 2;
  margin-top: -50px;
}
.container__menu .container__titreRestaurant {
  background-color: darkorange;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__menu .container__titreRestaurant .block__titre h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Shrikhand;
}
.container__menu .container__titreRestaurant .block__iconlove {
  background-color: transparent !important;
  width: auto;
  height: auto;
  margin-left: 50px;
  cursor: pointer;
}
.container__menu .container_blockLabel {
  background-color: darkgrey;
  width: inherit;
  height: inherit;
  padding: 10px;
}
.container__menu .container__animationMenu {
  width: 98%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 7.83vh;
  border: 2px solid #000;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: #fff;
  animation: slideInRight;
}
.container__menu .container__animationMenu .label__menu {
  padding: 5px 15px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  cursor: pointer;
}
.container__menu .container__animationMenu .label__menu .titre-dish {
  font-weight: 700;
  font-size: 16px;
}
.container__menu .container__animationMenu .label__menu .titre-dish .dish-specificite {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
.container__menu .container__animationMenu .label__menu .titre-dish .dish-specificite--hidden {
  display: inline-block;
  margin-left: 5px;
}
.container__menu .container__animationMenu .label__menu .titre-dish .threePoints {
  display: inline-block;
  opacity: 0;
}
.container__menu .container__animationMenu .label__menu .block__tarifs {
  width: 12%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container__menu .container__animationMenu .label__menu .block__tarifs .tarifs {
  height: 85px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.block__btn {
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
}
.block__btn .element-btn {
  width: 260px;
  height: 80px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  border-radius: 40px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

/* footer*/
.container__down {
  margin-top: 47.04vh;
  width: auto;
  height: 27.4vh;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
}
.container__down h4 {
  margin: 0 0 5px 40px;
  font-size: 20px;
}
.container__down ul li {
  list-style: none;
  margin-bottom: 5px;
}
.container__down ul li a {
  text-decoration: none;
  color: #ffff;
}