// section import
@import "base/general";
@import "utils/variables";
@import "components/labelBox";
@import "layout/workcraft-animations";
// section Config plan de travail
body {
  background-color: #808080;
  padding: 100px 150px 100px 50px;
}

.label__menu1 {
  display: flex;
  width: 100%;
  height: .005vh;
  padding: 0 .05vw;
    .plats__titre {
      display: inline-block;
      // display: inline-flex;
      justify-content: center;


    }
}
