@charset "UTF-8";
/*Général*/
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Shrikhand;
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container__animationMenu {
  cursor: pointer;
  width: 100%;
  height: 70px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  animation: slideInRight;
}
.container__animationMenu .label__menu {
  width: 100%;
  height: 70px;
  padding: 5px 15px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  cursor: pointer;
}
.container__animationMenu .label__menu .titre-dish {
  font-weight: 700;
  font-size: 16px;
}
.container__animationMenu .label__menu .titre-dish .dish-specificite {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}
.container__animationMenu .label__menu .titre-dish .dish-specificite--hidden {
  display: inline-block;
  margin-left: 5px;
}
.container__animationMenu .label__menu .titre-dish .threePoints {
  display: inline-block;
  opacity: 0;
}
.container__animationMenu .label__menu .block__tarifs {
  width: 12%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container__animationMenu .label__menu .block__tarifs .tarifs {
  height: 85px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.container__animationMenu .animaValidation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: none;
}
.container__animationMenu .animaValidation .check-ok {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
}
.container__animationMenu .animaValidation .check-ok .fa-check {
  color: #99E2D0;
}

.titreMenu .titreMenu-underline {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

body {
  background-color: #808080;
  padding: 100px 150px 100px 50px;
}

.container__animationMenu {
  width: 80%;
}

.container__animationMenu:hover > .slideInRight,
.container__animationMenu:focus > .slideInRight {
  animation: rotateIn slideInRight;
  transition: animation 2s;
  display: flex;
  transform: translateX(0);
  width: 75px;
}

.container__animationMenu:hover > .label__menu,
.container__animationMenu:focus > .label__menu {
  transition: 5s;
  border-radius: 20px 0 0 20px;
  text-overflow: clip;
}
.container__animationMenu:hover > .label__menu .block__tarifs,
.container__animationMenu:focus > .label__menu .block__tarifs {
  width: auto;
}
.container__animationMenu:hover > .label__menu .dish-specificite--hidden,
.container__animationMenu:focus > .label__menu .dish-specificite--hidden {
  display: none;
}
.container__animationMenu:hover > .label__menu .threePoints,
.container__animationMenu:focus > .label__menu .threePoints {
  opacity: 1;
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-fill-mode: both;
  cursor: pointer;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    display: none;
    width: 0;
  }
  100% {
    transform: translateX(0);
    display: flex;
    width: 75px;
  }
}
/* rotateIn s'active bien au survol du parent */
.rotateIn {
  animation-name: rotateIn;
  animation-duration: 2s;
  animation-fill-mode: both;
  color: #99E2D0;
  cursor: pointer;
}

@keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1;
  }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
.menu__entrees .label-load1,
.menu__plats .label-load1,
.menu__deserts .label-load1 {
  animation: label-load 650ms ease-in-out;
  transition: animation 2s;
}
.menu__entrees .label-load2,
.menu__plats .label-load2,
.menu__deserts .label-load2 {
  animation: label-load 650ms ease-in-out;
  animation-delay: 100ms;
  transition: animation 2s 2s;
}
.menu__entrees .label-load3,
.menu__plats .label-load3,
.menu__deserts .label-load3 {
  animation: label-load 650ms ease-in-out;
  animation-delay: 150ms;
  transition: animation 2s 4s;
}

@keyframes label-load {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  33% {
    transform: translateY(66%);
    opacity: 0.1;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.3;
  }
  66% {
    transform: translateY(33%);
    opacity: 0.4;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.element-btn:hover,
.element-btn:focus {
  transform: scale(1.02);
  transition: transform 1.01s;
}