@charset "UTF-8";
/*Général*/
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Shrikhand;
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  margin: 0;
  padding: 100px;
  background-color: #808080;
}

.container {
  display: flex;
  background-color: red;
  height: 75px;
  width: 300px;
}
.container__text {
  height: inherit;
  width: 250px;
}

.container:hover > .animation {
  display: flex;

}

.container:hover > .text {
  text-overflow: ellipsis;
    overflow: hidden;
    width: 75px;
}

.text {
  background-color: aqua;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  height: inherit;

}

.prix {
  background-color: blueviolet;
  height: inherit;

  /* flex-grow: 3; */
}

.animation {
  display: none;
}
