// Format Mobile-first
/* Général */
@font-face {
  font-family: Roboto;
  src: url("../../Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Shrikhand;
  src: url("../../Fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
// header donc le logo & l'ancrage vers l'index.html
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  height: 70px;
  background-color: #ffff;
  z-index: 1;

  .navBar{
    width: 100%;
    height: 2vh;
    z-index: 1;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    .container__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 40px;
        margin-right: 80px;
        padding: 15px;

    }
    .block__iconHtml {
      width: 50px;
      display: flex;
      justify-content: flex-start;
      padding-right: 40px;
      margin-left: 15px;
    }
    .color-IconIndex {
        color: #000;
    }
    .block__Logo {
      width: auto;
    }
  }
}


// la Problématique de l'image ne s'implémente pas

// // the picture

#block__RestoPalette {
  background-image: url('../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  max-width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}
#block__RestoLanote {
  background-image: url('../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
  max-width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoAlafrancaise {
  background-image: url('../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
  max-width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoDelice {
  background-image: url('../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
  width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}
.block__images {
  width: 100%;
  height: 300px;
}
.block__images2 {
  width: 95%;
  height: 300px;
}





// container principal

.container__menu {
  width: 95%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  padding: 15px 10px;
  z-index: 2;
  margin-top: -50px;
  .container_blockLabel {
    width: 100%;
  }
}
.block__menu {
  width: 100%;
  background-color: #f2f2f2;
  .container__titreRestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    .block__titre{
      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: Shrikhand;
      }
    }
    .block__iconlove {
      background-color: transparent !important;
      width: auto;
      height: auto;
      margin-left: 50px;
      cursor: pointer;
      }
  }
}

// Etiquettes
.container__animationMenu {
  cursor: pointer;
  width: 100%;
  height: 70px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 20px;
  background-color: #fff;
  // transform: animation;
  animation: slideInRight;
      .label__menu {
        width: 100%;
        height: 70px;
        padding: 5px 15px 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 20px;

        cursor: pointer;
        .titre-dish {
          font-weight: 700;
          font-size: 16px;
          .dish-specificite {
            font-weight: 400;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            flex-grow: 2
          }
          .dish-specificite--hidden {
            display: inline-block;
            margin-left: 5px;
          }
          .threePoints {
            display: inline-block;

            opacity: 0;
          }
        }
        .block__tarifs {
          width: 12%;
          height: 85%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          .tarifs {
            height: 85px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
          }
        }
      }

      .animaValidation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 100%;
        background-color: #99E2D0;
        border-radius: 0 20px 20px 0;
        display: none;
            .check-ok {
              width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #99E2D0;
              .fa-check {
                  color: #99E2D0;
            }
      }
    }
}
.titreMenu {
  .titreMenu-underline {
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
  }
}


/* Bouton Commander */
.block__btn {
  height: 150px;
  width: auto;
  background-color: #f2f2f2;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .element-btn {
    width: 260px;
    height: 80px;
    background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
    border-radius: 40px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }
}



/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
  h4 {
    margin: 0 0 5px 40px;
    font-family: Shrikhand;
    font-size: 20px;
  }
  ul li {
    list-style: none;
    margin-bottom: 5px;
    a {
      text-decoration: none;
      color: #ffff;
    }
  }
}
// fin footer
// fin mode Mobile-first
