// le Responsive

@media screen and (min-width: 768px) and (max-width: 1239px) {
  // container principal
  .container__menu {
  height: auto;
  padding: 70px 20px 70px 0;

  }

  .block__Resto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .block__RestoColumn1, .block__RestoColumn2 {
      width: 100%;
      height: auto;
      margin: 20px;
      flex-direction: row;
    }
  }

    .container__down {
      width: auto;
      h4 {
        display: flex;
        justify-content: center;

      }
      ul {
        width: auto;
        display: flex;
        flex-direction: row;
          li {
            margin: auto;
            padding-right: 50px
          }
      }
    }
}
@media screen and (min-width: 1240px) and (max-width: 1310px) {
  // la navBar
  .container__nav {
    margin: 0;
    .container__navBar {
      display: flex;
      flex-direction: row;
      height: 70px;
      .nav__btn {
        width: auto;
        height: 50%;
        margin: auto;
      }

    }

  }

  // container principal
  .container__restaurant {
  height: auto;
  margin-top: 300px;
  padding: 70px 20px 70px 0;
  }
  .block__Resto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .block__RestoColumn1, .block__RestoColumn2 {
      width: 100%;
      height: auto;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .block__restaurant {
        width: 100%;
        margin: 10px;
      }
    }
  }
  // le footer
    .container__down {
      width: auto;
      h4 {
        display: flex;
        justify-content: center;
      }
      ul {
        width: auto;
        display: flex;
        flex-direction: row;
          li {
            margin: auto;
            padding-right: 50px
          }
      }
    }
}
@media screen and (min-width: 1311px) {
  // la navBar
  .container__nav {
    margin: 0;
    .container__navBar {
      display: flex;
      flex-direction: row;
      height: 70px;
      .nav__btn {
        width: auto;
        height: 50%;
        margin: auto;
      }

    }

  }
// container principal
.container__restaurant {
height: auto;
margin-top: 300px;
padding: 70px 20px 70px 0;
}

.block__Resto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .block__RestoColumn1, .block__RestoColumn2 {
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .block__restaurant {
      width: 100%;
      margin: 10px;
    }

  }
}



  // le footer
    .container__down {
      width: auto;
      h4 {
        display: flex;
        justify-content: center;
      }
      ul {
        width: auto;
        display: flex;
        flex-direction: row;
          li {
            margin: auto;
            padding-right: 50px
          }
      }
    }
}
