@charset "UTF-8";
/*Général*/
@font-face {
  font-family: Roboto;
  src: url("./Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Shrikhand;
  src: url("./Fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
}

/*header logo*/
header {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ebebeb;
}

.container__logo {
  width: auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* fin du header */
/* les filtres la localisation & le block bienvenue */
.container__filtres {
  width: 100%;
  height: 300px;
}

/* localisation */
.block__localisation {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-top: 10px solid #ebebeb;
  font-size: 1.1rem;
  font-weight: 900;
}

.block__locateName {
  margin-left: 15px;
}

/* texte de bienvenue */
.block__bienvenue {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 350px;
}

.block__bienvenue h1,
.block__bienvenue p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* le bouton Explorer */
.element-btnExplorer {
  width: 260px;
  height: 80px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  border-radius: 40px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* la navBar  */
.container__navBar {
  width: 100%;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__nav h2 {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}

.nav__btn, .nav__icon {
  display: flex;
  flex-direction: row;
}

.nav__btn {
  width: 90%;
  height: 230px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 8px 8px 8px 5px #f2f2f2;
  background-color: #f2f2f2;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  /* justify-content: space-around;; */
}

.nav__icon {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  margin-left: -10px;
}

.nav__icon p {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.element-navIcon {
  color: #787878;
}

.nav__btn div a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: 0.9rem;
}

.btn__choissez, .btn__composez, .btn__degustez {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

/* fin du container__nav */
/* Containere principaux */
.block__titre {
  height: 25px;
  margin: 15px 0 25px 25px;
}

.container__restaurant {
  width: auto;
  height: 1500px;
  padding: 15px 15px 15px 15px;
  margin-top: 450px;
  background-color: #f2f2f2;
}

.block__Resto {
  height: 700px;
  padding: 15px 20px 0 20px;
}

/* identité unique des eléments des produits et de leurs format */
#block__RestoPalette {
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 200px;
  max-width: 100%;
  z-index: 0;
}

#block__RestoLanote {
  background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 200px;
  width: 100%;
  z-index: 0;
}

#block__RestoAlafrancaise {
  background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 200px;
  width: 100%;
}

#block__RestoDelice {
  background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 200px;
  width: 100%;
}

.block__imagesRestaurant {
  background-size: cover;
  width: auto;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

/* Format des Etiquettes */
.block__restaurant {
  border-radius: 15px 15px 15px 15px;
  border: 2px solid #f2f2f2;
  box-shadow: 5px 5px 8px 8px #fff;
  margin-bottom: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.element-labelResto {
  width: auto;
  height: 100px;
  background-color: #ffff;
  border-radius: 0 0 15px 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.element-textLabel h3 {
  font-weight: 900;
}

.block__iconlove {
  width: 50px;
  height: 50px;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-Nouveau {
  width: 100px;
  height: 30px;
  background-color: #278870;
  border-radius: 5px;
  color: #99E2D0;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.lien__Resto {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.lien__Resto .label-Nouveau {
  position: relative;
  margin-top: 15px;
  margin-bottom: -80px;
  margin-right: 20px;
}

/* fin du container__restaurant (principal) */
/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
}

.container__down h4 {
  font-size: 20px;
  margin: 0 0 10px 40px;
  font-family: Shrikhand;
}

.container__down ul li {
  list-style: none;
  margin-bottom: 10px;
}

.container__down ul li a {
  color: #ffff;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
  .container__restaurant {
    height: auto;
    padding: 70px 20px 70px 0;
  }

  .block__Resto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .block__Resto .block__RestoColumn1, .block__Resto .block__RestoColumn2 {
    width: 100%;
    height: auto;
    margin: 20px;
    flex-direction: row;
  }

  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1240px) and (max-width: 1310px) {
  .container__nav {
    margin: 0;
  }
  .container__nav .container__navBar {
    display: flex;
    flex-direction: row;
    height: 70px;
  }
  .container__nav .container__navBar .nav__btn {
    width: auto;
    height: 50%;
    margin: auto;
  }

  .container__restaurant {
    height: auto;
    margin-top: 300px;
    padding: 70px 20px 70px 0;
  }

  .block__Resto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .block__Resto .block__RestoColumn1, .block__Resto .block__RestoColumn2 {
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .block__Resto .block__RestoColumn1 .block__restaurant, .block__Resto .block__RestoColumn2 .block__restaurant {
    width: 100%;
    margin: 10px;
  }

  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1311px) {
  .container__nav {
    margin: 0;
  }
  .container__nav .container__navBar {
    display: flex;
    flex-direction: row;
    height: 70px;
  }
  .container__nav .container__navBar .nav__btn {
    width: auto;
    height: 50%;
    margin: auto;
  }

  .container__restaurant {
    height: auto;
    margin-top: 300px;
    padding: 70px 20px 70px 0;
  }

  .block__Resto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .block__Resto .block__RestoColumn1, .block__Resto .block__RestoColumn2 {
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .block__Resto .block__RestoColumn1 .block__restaurant, .block__Resto .block__RestoColumn2 .block__restaurant {
    width: 100%;
    margin: 10px;
  }

  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px;
  }
}
.nav__btn:hover,
.nav__btn:focus {
  transform: background-color;
  transition: 2s;
  background-color: #e9ddf8;
}

.nav__btn:hover .nav__icon .element-navIcon,
.nav__btn:focus .nav__icon .element-navIcon {
  transform: color;
  transition: 2s;
  color: #9356DC;
}

.block__restaurant:hover,
.block__restaurant:focus {
  transform: scale(1.02);
}

.element-btnExplorer:hover,
.element-btnExplorer:focus {
  transform: scale(1.02);
}

.block__iconlove {
  font-size: 30px;
}
.block__iconlove .icon-hover {
  display: none;
  color: #cc12c4;
}

.block__iconlove:hover::before .icon-before:hover::before,
.block__iconlove:hover::before .icon-before:focus::before,
.block__iconlove:focus::before .icon-before:hover::before,
.block__iconlove:focus::before .icon-before:focus::before {
  display: block;
}
.block__iconlove:hover::before .icon-hover:hover::before,
.block__iconlove:hover::before .icon-hover:focus::before,
.block__iconlove:focus::before .icon-hover:hover::before,
.block__iconlove:focus::before .icon-hover:focus::before {
  display: none;
}

.block__iconlove:hover .icon-before,
.block__iconlove:focus .icon-before {
  display: none;
}
.block__iconlove:hover .icon-hover,
.block__iconlove:focus .icon-hover {
  display: block;
}