// Format Mobile-first
/* Général */
@font-face {
  font-family: Roboto;
  src: url("./Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Shrikhand;
  src: url("./Fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  // background-color: #f2f2f2;
  font-family: Roboto;
}
a {
  text-decoration: none;
}
// header donc le logo & l'ancrage vers l'index.html
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  height: 70px;
  background-color: #ffff;
  z-index: 1;

  .navBar{
    width: 100%;
    height: 2vh;
    z-index: 1;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    .container__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 40px;
        margin-right: 80px;
        padding: 15px;

    }
    .block__iconHtml {
      width: 50px;
      display: flex;
      justify-content: flex-start;
      padding-right: 40px;
      margin-left: 15px;
    }
    .color-IconIndex {
        color: #000;
    }
    .block__Logo {
      width: auto;
    }
  }
}


// la Problématique de l'image ne s'implémente pas

// // the picture

#block__RestoPalette {
  background-image: url('./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  max-width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

.block__images {
  width: 100%;
  height: 300px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // // margin-top: -50px;
  // z-index: -1;
}


// .block__images {
//   width: 100%;
//   height: auto;
//   z-index: 1;
//
// }
// img {
//   max-width: 100%;
//   height: auto;
//   // margin-bottom: -100px;
// }




// container principal

.container__menu {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  padding: 15px;
  z-index: 2;
  margin-top: -50px;
  // position: absolute;
  .container_blockLabel {
    width: 100%;
  }
}
.block__menu {
  width: 100%;
  background-color: #f2f2f2;
  .container__titreRestaurant {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .block__iconlove {
      background-color: transparent !important;
      width: auto;
      height: auto;
      // border-radius: 30px 60px 60px 30px;
      cursor: pointer;
      }
  }
}

// Etiquettes
.container__animationMenu {
  cursor: pointer;
  width: 100%;
  height: 70px;
  // padding: 5px;
  // margin-bottom: 15px;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 2px solid #f2f2f2;
  // box-shadow: 5px 5px 5px 2px #d7d7d7;
  border-radius: 20px;
  background-color: #fff;
  transform: animation;
  animation: slideInRight;
      .label__menu {
        width: 100%;
        height: 70px;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // border: 2px solid #f2f2f2;
        border-radius: 20px;
        // background-color: #fff;
        cursor: pointer;
        .titre-dish {
          font-weight: 700;
          .dish-specificite {
            font-weight: 400;
            display: flex;
            flex-direction: row;
          }
          .dish-specificite--hidden {
            margin-left: 5px;
          }
          .threePoints {
            opacity: 0;
          }
        }
        .block__tarifs {
          width: 12%;
          height: 85%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          .tarifs {
            height: 85px;
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
          }
        }
      }

      .animaValidation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 85%;
        background-color: #99E2D0;
        border-radius: 0 20px 20px 0;
        display: none;
            .check-ok {
              width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #99E2D0;
              .fa-check {
                // background-color: #fff;
                color: #99E2D0;
            }
      }
    }
}
.titreMenu {
  .titreMenu-underline {
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
  }
}


/* Bouton Commander */
.block__btn {
  height: 150px;
  width: auto;
  background-color: #f2f2f2;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .element-btn {
    width: 260px;
    height: 80px;
    background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
    border-radius: 40px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }
}



/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
  h4 {
    margin: 0 0 5px 40px;
    font-family: Shrikhand;
  }
  ul li {
    list-style: none;
    margin-bottom: 5px;
    a {
      text-decoration: none;
      color: #ffff;
    }
  }
}
// fin footer
// fin mode Mobile-first

// Mode Responsive


@media screen and (min-width: 768px) and (max-width: 1239px) {
    body {
      width: 100%;
    }

    // le picture
    #block__RestoPalette {
      max-width: 100%;
      height: inherit;
      background-position-y: -100px;
      background-repeat: no-repeat;
    }
    .block__images {
      background-size: 50% auto;
      height: 450px;
    }

    // le container principal
    .container__titreRestaurant {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container_blockLabel {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .container__animationMenu {
        margin-bottom: 20px;
      }
      .menu__plats,
      .menu__deserts {
        margin-left: 20px;
      }
    }

    // le footer
      .container__down {
        width: auto;
        h4 {
          display: flex;
          justify-content: center;
        }
        ul {
          width: auto;
          display: flex;
          flex-direction: row;
            li {
              margin: auto;
              padding-right: 50px
            }
        }
      }
  }

@media screen and (min-width: 1240px) and (max-width: 1310px) {
  body {
    width: 100%;
  }

  // le picture
  #block__RestoPalette {
    max-width: 100%;
    height: inherit;
    background-position-y: -100px;
  }
  .block__images {
    background-size: 50% auto;
    height: 550px;
  }

  // le container principal
  .container__titreRestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_blockLabel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .container__animationMenu {
      margin-bottom: 20px;
    }
    .menu__plats,
    .menu__deserts {
      margin-left: 20px;
    }
  }

  // le footer
    .container__down {
      width: auto;
      h4 {
        display: flex;
        justify-content: center;
      }
      ul {
        width: auto;
        display: flex;
        flex-direction: row;
          li {
            margin: auto;
            padding-right: 50px
          }
      }
    }
}


/* Mode Desktop (Taille minimum pour les 13 pouces) & au delà */
@media screen and (min-width: 1311px) {
    body {
      width: 100%;
    }

    // le header avec la navBar
    header {
      background-color: #fff !important;
      .navBar {
        background-color: #fff !important;
      }
    }

    // le picture
    #block__RestoPalette {
      max-width: 100%;
      height: inherit;
      background-position-y: -100px;
    }
    .block__images {
      background-size: 50% auto;
      height: 550px;
    }

    // le container principal
    .container__titreRestaurant {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container_blockLabel {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      // margin-left: -60px;
      .container__animationMenu {
        margin-bottom: 20px;
      }
      .menu__plats,
      .menu__deserts {
        margin-left: 20px;
      }
    }
    // le footer
      .container__down {
        width: auto;
        h4 {
          display: flex;
          justify-content: center;
        }
        ul {
          width: auto;
          display: flex;
          flex-direction: row;
            li {
              margin: auto;
              padding-right: 50px
            }
        }
      }
  }
  @media screen and (min-width: 1500px) {
    // le picture
    #block__RestoPalette {
      max-width: 100%;
      height: inherit;
      background-position-y: -150px;
    }
    .block__images {
      background-size: 50% auto;
      height: 700px;
    }

  }

  // les Animations

  // animation des icones Coeur


  // .fa-heart:hover::before,
  // .fa-heart:focus::before {
  //   content: "\f004";
  //   background-image: transparent;
  // }
  // .fa-heart:hover,
  // .fa-heart:focus {
  //   animation: iconLove 2s;
  //   // transform: background-image;
  //   // transform-origin: center;
  //   // transition: 2s 5s;
  //   // background-image: linear-gradient(175deg, rgb(131, 0, 95) 10%, rgb(82, 30, 144) 90%);
  //   // color: linear-gradient(175deg, rgb(131, 0, 95) 10%, rgb(82, 30, 144) 90%);
  // }

    .block__iconlove {
      .icon-hover {
        display: none;
        color: blue;
        color: linear-gradient(175deg, rgb(131, 0, 95) 10%, rgb(82, 30, 144) 90%);

      }
    }

  .block__iconlove:hover::before,
  .block__iconlove:focus::before {
    .icon-before:hover::before,
    .icon-before:focus::before {
      display: block;
    }
    .icon-hover:hover::before,
    .icon-hover:focus::before {
      display: none;
    }
  }
  .block__iconlove:hover,
  .block__iconlove:focus {
    .icon-before {
      display: none;
    }
    .icon-hover {
      display: block;
      // color: linear-gradient(175deg, rgb(131, 0, 95) 10%, rgb(82, 30, 144) 90%);
    }
  }

  // keyframes linear-Gradient pour icone fa-heart

  // @keyframes iconLove {
  //   0% {
  //
  //   }
  //   50% {
  //
  //   }
  //   100% {
  //     transform: background-image;
  //     transform-origin: center;
  //     background-image: linear-gradient(175deg, rgb(131, 0, 95) 10%, rgb(82, 30, 144) 90%);
  //     color: linear-gradient(175deg, rgb(131, 0, 95) 10%, rgb(82, 30, 144) 90%);
  //   }
  // }

  // Les Animations @keyframes / containers cachés


.container__animationMenu:hover::before > .slideInRight,
.container__animationMenu:focus::before > .slideInRight {
  animation: rotateIn slideInRight 0ms;
  display: none;
  transform: translateX(100%);
  width: 0;
  }

.container__animationMenu:hover > .slideInRight,
.container__animationMenu:focus > .slideInRight {

  animation: rotateIn slideInRight;
  transition: animation 2s;
  display: flex;
  transform: translateX(0);
  width: 75px;
}

.container__animationMenu:hover::before > .label__menu,
.container__animationMenu:focus::before > .label__menu {
  width: 100%;
}

.container__animationMenu:hover > .label__menu,
.container__animationMenu:focus > .label__menu {
  // width: 100%;
  transition: 5s;
  transform: border-radius;
  border-radius: 20px 0 0 20px;
  text-overflow: clip;
  .block__tarifs {
    width: auto;
  }

  .dish-specificite--hidden {
    display: none;
  }
  .threePoints {
    opacity: 1;
  }
}

// .container__animationMenu:hover,
// .container__animationMenu:focus {
//   width: 90%;
// }


  /* le Container validation caché
  se dévoilant au survol de la souris */
    // .slideInRight:hover,

    .slideInRight
     {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    cursor: pointer;
    // transition: animation;
    }
    @-webkit-keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0;
      // visibility: hidden;
      display: none;
      width: 0;
      }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
      // visibility: visible;
      display: flex;
      width: 75px;
      }
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    display: none;
    width: 0;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: flex;
    width: 75px;
    }
  }

  /* rotateIn s'active bien au survol du parent */

  .rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: #99E2D0;
    cursor: pointer;
    }
    @-webkit-keyframes rotateIn {
      0% {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
      transform: rotate3d(0, 0, 1, -200deg);
      opacity: 1;
      }
      100% {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: none;
      transform: none;
      opacity: 1;
      }
    }
    @keyframes rotateIn {
    0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1;
    }
    100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
  }

  // .right-slide {
  //   animation: right-slide 2s;
  //   display: inline-block;
  // }

  // .container__animationMenu:hover {
  //     transform: animation;
  // }
  //
  // .container__animationMenu::before  .right-slide,
  // .container__animationMenu:focus::before  .right-slide {
  //       // transform: translateX(100%);
  //       display: none;
  //
  // }
  // .container__animationMenu  .right-slide,
  // .container__animationMenu  .right-slide  {
  //   // transform: translateX(0);
  //   animation: right-slide;
  //   display: inline-block;
  // }

  // .label__menu:hover::before + .right-slide,
  // .label__menu:focus::before + .right-slide {
  //       // transform: translateX(100%);
  //       display: none;
  //
  // }
  // .label__menu:hover + .right-slide,
  // .label__menu:focus + .right-slide  {
  //   transform: translateX(0);
  //   animation: right-slide;
  //   display: inline-block;
  // }
//
//     @keyframes right-slide {
//     0% {
//       display: none;
//       transform: translateX(100%);
//
//     }
//
//     100% {
//       display: inline-block;
//       transform: translateX(0%);
//     }
// }
// .slideInRight::before .rotateIn,
// .slideInRight:focus::before .rotateIn {
// animation: rotateIn 0s;
//
// }
//
//   .slideInRight:hover .rotateIn,
//   .slideInRight:focus .rotateIn {
//   animation: rotateIn;
//   display: block;
//   opacity: 1;
//   color: #99E2D0;
//   }
