/*Général*/
body {
  width: 100%;
}
/*header logo*/
header{
  width: 100%;
  height: auto;
}
.container__logo {
  width: auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* les filtres la localisation & le block bienvenue */
.container__filtres {
  width: 100%;
  height: 300px;

}
.block__localisation{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: -5px -5px -5px -2px #ebebeb;
  font-size: 1.10rem;
  font-weight: 900;
}
.block__locateName{
  margin-left: 15px;
}
.block__bienvenue{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 300px;
}
.block__bienvenue p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-btnExplorer{
  width: 260px;
  height: 80px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  border-radius: 40px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container__navBar {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__nav h2 {
  display: flex;
  align-items: flex-start;
}
.nav__btn, .nav__icon {
  display: flex;
  flex-direction: row;
}
.nav__btn {
  width: 60%;
  height: 200px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 2px #f2f2f2;
  background-color: #f2f2f2;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  /* justify-content: space-around;; */
}
.nav__icon{
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  margin-left: -10px;
}
.nav__icon p {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}
.nav__btn div a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: 1.10rem;
}
.btn__choissez, .btn__composez, .btn__degustez {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

/* Containere principaux */
.block__titre{
  height: 25px;
  margin: 15px 0 25px 25px;
}
.container__restaurant {
  width: auto;
  height: 1500px;
  padding: 15px 15px 15px 15px;
  margin-top: 400px;
  background-color: #f2f2f2;

}
.block__Resto {
  height: 700px;
  padding: 15px 20px 0 20px;
}
#block__RestoPalette {
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#block__RestoLanote {
  background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

#block__RestoAlafrancaise {
  background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#block__RestoDelice {
  background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.block__imagesRestaurant{
  background-size: cover;
  width: auto;
  height: 200px;
  border-radius: 15px 15px 0 0;

}
.block__restaurant {
   border-radius: 15px 15px 15px 15px;
   border: 2px solid #f2f2f2;
   box-shadow: 5px 5px 5px 2px #f2f2f2;
   margin-bottom: 25px;
   cursor: pointer;
   display: flex;
   flex-direction: column;

}
.element-labelResto {
  width: auto;
  height: 100px;
  background-color: #ffff;
  border-radius: 0 0 15px 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.element-textLabel h3 {
  font-weight: 900;
}
.block__iconlove {
  margin-right: 20px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
.element-iconLove {
  color: blue;
  font-size: 25px;
}
/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
}
.container__down h4 {
  margin: 0 0 5px 40px;
}
.container__down ul li {
  list-style: none;
  margin-bottom: 5px;
}

.container__down ul li a {
    color: #ffff;
    text-decoration: none;
}
