body {
  width: 100%;
}
/*header logo*/
header{
  width: 100%;
  height: 100px;
}
.container__logo {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
}

/* les filtres la localisation & le block bienvenue */
.container__filtres {
  width: 100%;
  height: 100px;
  margin-top: 150px;
}
/* Containere principaux */
.container__restaurant h2 {
  margin-bottom: 50px;
}
.container__restaurant {
  width: auto;
  height: 800px;
  padding: 10px;
  margin-top: 100px;
}

#block__RestoPalette {
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
  border: 2px solid #f2f2f2;
}

#block__RestoLanote {
  background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
}

#block__RestoAlafrancaise {
  background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
}

#block__RestoDelice {
  background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 7vh;
}
/* footer*/
footer {
  margin-top: 250px;
}
