body {
  width: 100%;
}
* {
  background-color: darkgray;
}
.container__restaurant {
  width: auto;
}
.block__RestoPalette {
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 100px;
  border: 2px solid #f2f2f2;
  margin-top: 100px;
  margin-bottom: 25px;
}

.block__RestoLanote {
  background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 100px;
  margin-bottom: 25px;

}

.block__RestoAlafrancaise {
  background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 100px;
  margin-bottom: 25px;
}

.block__RestoDelice {
  background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  width: auto;
  height: 100px;
  margin-bottom: 25px;
}
