@charset "UTF-8";
/* Général */
@font-face {
  font-family: Roboto;
  src: url("../Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Shrikhand;
  src: url("../Fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  height: 70px;
  background-color: #ffff;
  z-index: 1;
}
header .navBar {
  width: 100%;
  height: 2vh;
  z-index: 1;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
header .navBar .container__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
  margin-right: 80px;
  padding: 15px;
}
header .navBar .block__iconHtml {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  padding-right: 40px;
  margin-left: 15px;
}
header .navBar .color-IconIndex {
  color: #000;
}
header .navBar .block__Logo {
  width: auto;
}

#block__RestoPalette {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  max-width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoLanote {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  max-width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoAlafrancaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  max-width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#block__RestoDelice {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

.block__images {
  width: 100%;
  height: 300px;
}

.block__images2 {
  width:100%;
  height: 280px;
}

.container__menu {
  width: 95%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  padding: 15px 10px;
  z-index: 2;
  margin-top: -50px;
}
.container__menu .container_blockLabel {
  width: 100%;
}

.block__menu {
  width: 100%;
  background-color: #f2f2f2;
}
.block__menu .container__titreRestaurant {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__menu .container__titreRestaurant .block__titre h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Shrikhand;
}
.block__menu .container__titreRestaurant .block__iconlove {
  background-color: transparent !important;
  width: auto;
  height: auto;
  margin-left: 50px;
  cursor: pointer;
}

.container__animationMenu {
  cursor: pointer;
  width: 100%;
  height: 70px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  /* transform: animation; */
  animation: slideInRight;
}
.container__animationMenu .label__menu {
  width: 100%;
  height: 70px;
  padding: 5px 15px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  cursor: pointer;
}
.container__animationMenu .label__menu .titre-dish {
  font-weight: 700;
  font-size: 16px;
}
.container__animationMenu .label__menu .titre-dish .dish-specificite {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}
.container__animationMenu .label__menu .titre-dish .dish-specificite--hidden {
  display: inline-block;
  margin-left: 5px;
}
.container__animationMenu .label__menu .titre-dish .threePoints {
  display: inline-block;
  opacity: 0;
}
.container__animationMenu .label__menu .block__tarifs {
  width: 12%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container__animationMenu .label__menu .block__tarifs .tarifs {
  height: 85px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
.container__animationMenu .animaValidation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: none;
}
.container__animationMenu .animaValidation .check-ok {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
}
.container__animationMenu .animaValidation .check-ok .fa-check {
  color: #99E2D0;
}

.titreMenu .titreMenu-underline {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

/* Bouton Commander */
.block__btn {
  height: 150px;
  width: auto;
  background-color: #f2f2f2;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.block__btn .element-btn {
  width: 260px;
  height: 80px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  border-radius: 40px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
}
.container__down h4 {
  margin: 0 0 5px 40px;
  font-family: Shrikhand;
  font-size: 20px;
}
.container__down ul li {
  list-style: none;
  margin-bottom: 5px;
}
.container__down ul li a {
  text-decoration: none;
  color: #ffff;
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
  body {
    width: 100%;
  }

  #block__RestoPalette,
#block__RestoLanote,
#block__RestoAlafrancaise,
#block__RestoDelice {
    max-width: 100%;
    height: inherit;
    background-position-y: -100px;
    background-repeat: no-repeat;
  }

  .block__images {
    background-size: 50% auto;
    height: 450px;
  }

  .block__images2 {
    background-size: 50% auto;
    height: 700px;
  }

  .container__menu {
    width: 100%;
  }

  .container__titreRestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_blockLabel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container_blockLabel .container__animationMenu {
    margin-bottom: 20px;
  }
  .container_blockLabel .menu__entrees,
.container_blockLabel .menu__plats,
.container_blockLabel .menu__deserts {
    width: 40%;
  }
  .container_blockLabel .menu__entrees .label__menu p span,
.container_blockLabel .menu__plats .label__menu p span,
.container_blockLabel .menu__deserts .label__menu p span {
    font-size: 13px;
  }
  .container_blockLabel .menu__plats,
.container_blockLabel .menu__deserts {
    margin-left: 20px;
  }

  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1240px) and (max-width: 1310px) {
  body {
    width: 100%;
  }

  #block__RestoPalette,
#block__RestoLanote,
#block__RestoAlafrancaise,
#block__RestoDelice {
    max-width: 100%;
    height: inherit;
    background-position-y: -100px;
  }

  .block__images {
    background-size: 50% auto;
    height: 550px;
  }

  .block__images2 {
    background-size: 50% auto;
    height: 550px;
  }

  .container__menu {
    width: 100%;
  }

  .container__titreRestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_blockLabel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container_blockLabel .container__animationMenu {
    margin-bottom: 20px;
  }
  .container_blockLabel .menu__entrees,
.container_blockLabel .menu__plats,
.container_blockLabel .menu__deserts {
    width: 40%;
  }
  .container_blockLabel .menu__plats,
.container_blockLabel .menu__deserts {
    margin-left: 20px;
  }

  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px;
  }
}
/* Mode Desktop (Taille minimum pour les 13 pouces) & au delà */
@media screen and (min-width: 1311px) {
  body {
    width: 100%;
  }

  header {
    background-color: #fff !important;
  }
  header .navBar {
    background-color: #fff !important;
  }

  #block__RestoPalette,
#block__RestoLanote,
#block__RestoAlafrancaise,
#block__RestoDelice {
    max-width: 100%;
    height: inherit;
    background-position-y: -100px;
  }

  .block__images {
    background-size: 50% auto;
    height: 550px;
  }

  .block__images2 {
    background-size: 50% auto;
    height: 550px;
  }

  .container__menu {
    width: 100%;
  }

  .container__titreRestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_blockLabel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .container_blockLabel .container__animationMenu {
    margin-bottom: 20px;
  }
  .container_blockLabel .menu__entrees,
.container_blockLabel .menu__plats,
.container_blockLabel .menu__deserts {
    width: 80%;
  }
  .container_blockLabel .menu__plats,
.container_blockLabel .menu__deserts {
    margin-left: 20px;
  }

  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1500px) {
  #block__RestoPalette,
#block__RestoLanote,
#block__RestoAlafrancaise,
#block__RestoDelice {
    max-width: 100%;
    height: inherit;
    background-position-y: -150px;
    background-size: cover;
    z-index: -1;
    box-sizing: border-box;
  }

  .block__imagesRestaurant2 {
    height: 700px;
  }

  .block__images {
    background-size: 50% auto;
    height: 700px;
  }

  .block__images2 {
    height: 700px;
  }
}
.block__iconlove {
  font-size: 30px;
}
.block__iconlove .icon-hover {
  display: none;
  color: #cc12c4;
}
/*
.block__iconlove:hover::before .icon-before:hover::before,
.block__iconlove:hover::before .icon-before:focus::before,
.block__iconlove:focus::before .icon-before:hover::before,
.block__iconlove:focus::before .icon-before:focus::before {
  display: block;
}
.block__iconlove:hover::before .icon-hover:hover::before,
.block__iconlove:hover::before .icon-hover:focus::before,
.block__iconlove:focus::before .icon-hover:hover::before,
.block__iconlove:focus::before .icon-hover:focus::before {
  display: none;
} */

.block__iconlove:hover .icon-before,
.block__iconlove:focus .icon-before {
  display: none;
}
.block__iconlove:hover .icon-hover,
.block__iconlove:focus .icon-hover {
  display: block;
  transition: display 2s;
}

/* .container__animationMenu:hover::before > .slideInRight,
.container__animationMenu:focus::before > .slideInRight {
  animation: rotateIn slideInRight 0ms;
  display: none;
  transform: translateX(100%);
  width: 0;
} */
/* .container__animationMenu:hover > .slideInRight,
.container__animationMenu:focus > .slideInRight {
  animation: slideInRight;
  transition: animation 2s;
  display: flex;
  transform: translateX(0);
  width: 75px;
}
.container__animationMenu:hover > .slideInRight,
.container__animationMenu:focus > .slideInRight {
  animation: rotateIn;
  transition: animation 2s;
  display: flex;
  transform: translateX(0);
  width: 75px;
} */
.container__animationMenu:hover > .slideInRight,
.container__animationMenu:focus > .slideInRight {
  animation: rotateIn slideInRight;
  transition: animation 2s;
  display: flex;
  transform: translateX(0);
  width: 75px;
}

/* .container__animationMenu:hover::before > .label__menu,
.container__animationMenu:focus::before > .label__menu {
  width: 100%;
} */

.container__animationMenu:hover > .label__menu,
.container__animationMenu:focus > .label__menu {
  transition: 5s;
  /* transform: border-radius; */
  border-radius: 20px 0 0 20px;
  text-overflow: clip;
}
.container__animationMenu:hover > .label__menu .block__tarifs,
.container__animationMenu:focus > .label__menu .block__tarifs {
  width: auto;
}
.container__animationMenu:hover > .label__menu .dish-specificite--hidden,
.container__animationMenu:focus > .label__menu .dish-specificite--hidden {
  display: none;
}
.container__animationMenu:hover > .label__menu .threePoints,
.container__animationMenu:focus > .label__menu .threePoints {
  opacity: 1;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  cursor: pointer;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    display: none;
    width: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    display: flex;
    width: 75px;
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    display: none;
    width: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: flex;
    width: 75px;
  }
}
/* rotateIn s'active bien au survol du parent */
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: #99E2D0;
  cursor: pointer;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
.menu__entrees .label-load1,
.menu__plats .label-load1,
.menu__deserts .label-load1 {
  animation: label-load 650ms ease-in-out;
  transition: animation 2s;
}
.menu__entrees .label-load2,
.menu__plats .label-load2,
.menu__deserts .label-load2 {
  animation: label-load 650ms ease-in-out;
  animation-delay: 100ms;
  transition: animation 2s 2s;
}
.menu__entrees .label-load3,
.menu__plats .label-load3,
.menu__deserts .label-load3 {
  animation: label-load 650ms ease-in-out;
  animation-delay: 150ms;
  transition: animation 2s 4s;
}

@keyframes label-load {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  33% {
    transform: translateY(66%);
    opacity: 0.1;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.3;
  }
  66% {
    transform: translateY(33%);
    opacity: 0.4;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.element-btn:hover,
.element-btn:focus {
  transform: scale(1.02);
  transition: transform 1.01s;
}
