
/* Importation du fichier
compilateur menu-main.css
dans dossier sass vers celui
car le chemin du package.json
est dans le dossier public
tandis que la compilation se fait
dans le dossier sass
 */

@import url("../sass/menu-main.css");
