/* Général */
@font-face {
  font-family: Roboto;
  src: url("../Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Shrikhand;
  src: url("../Fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
}
a {
  text-decoration: none;
}
/* le header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;


}
.navBar{
  width: 100%;
  height: 60px;
  background-color: #ffff;
  z-index: 1;
  margin-top: -20px;
}
.container__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    justify-content: center;
    margin-top: 20px;

}
.block__iconHtml {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  padding-right: 25px;
}
.color-IconIndex {
    color: #000;
}
.block__Logo {
  width: 250px;
}


/* le container__menu */
#block__RestoPalette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.block__images {
  width: auto;
  height: 250px;
  background-size: cover;
  margin-top: -50px;
  z-index: -1;
}
.block__imagesRestaurant{
  background-size: cover;
  width: auto;
  height: 300px;
}

/* le container principal, le block__menu */
.container__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
}
.block__menu {
  width: 100%;
  height: 1500px;
  background-color: #f2f2f2;
  border-radius: 35px 35px 0 0;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.block__titre {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
/* les contenus
du block principal des Etiquettes  */

.label__menu {
  width: 80%;
  height: 100px;
  border: 1px solid #f2f2f2;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 2px #d7d7d7;
  margin-bottom: 25px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block__tarifs {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Bouton Commander */
.element-btn {
  width: 260px;
  height: 80px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  border-radius: 40px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

/* block Bouton */
.block__btn {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

/* footer*/
.container__down {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: #ffff;
  padding-top: 20px;
}
.container__down h4 {
  margin: 0 0 5px 40px;
}
.container__down ul li {
  list-style: none;
  margin-bottom: 5px;
}

.container__down ul li a {
    color: #ffff;
    text-decoration: none;
}
