/* Mode Tablette  */
@media screen and (min-width: 768px) and (max-width: 1239px) {
    body {
      width: 100%;
    }

  /* concernant l'image  */
  .block__images {
  width: auto;
  height: 400px;
  }
  #block__RestoPalette {
    width: auto;
    height: inherit;
    background-size: cover;
  }

  /* le container principal menu    */
  .container__menu {
    width: 100%;
  }
  .block__menu {
    height: 1000px;
    width: inherit;
  }
  .container_blockLabel {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* Mode Desktop (Taille minimum pour les 13 pouces) */
@media screen and (min-width: 1240px) {
    body {
      width: 100%;
    }

  /* concernant l'image  */
  .block__images {
  width: auto;
  height: 600px;
  }
  #block__RestoPalette {
    width: auto;
    height: inherit;
    background-size: cover;
  }

  /* le container principal menu    */
  .container__menu {
    width: 100%;
  }
  .block__menu {
    height: 600px;
    width: inherit;
  }
  .container_blockLabel {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

}
