@media screen and (min-width: 447px) and (max-width: 767px) {
  body {
    width: 100%;
  }
}




/* Mode Tablette  */
@media screen and (min-width: 768px) and (max-width: 1239px) {
    body {
      width: 100%;
    }

  /* concernant l'image  */
  .block__images {
  width: auto;
  height: 400px;
  }
  #block__RestoPalette {
    width: auto;
    height: 800px;
    background-size: cover;
    margin-top: -180px;
  }

  /* le container principal menu    */
  .container__menu {
    width: 100%;
  }
  .block__menu {
    height: auto;
    width: inherit;
    display: flex;
    align-content: stretch;
  }
  .block__titre{
    justify-content: center;
  }
  .container_blockLabel {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .label__menu{
    width: 80%;
    margin: 20px;
  }
      /* footer */
  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
   width: auto;
   display: flex;
   flex-direction: row;

  }
  .container__down ul li {
    margin-left: auto;
    padding-right: 50px
  }
}
/* Mode Desktop (Taille minimum pour les 13 pouces) */
@media screen and (min-width: 1240px) and (max-width: 1310px) {
    body {
      width: 100%;
    }

  /* concernant l'image  */
  .block__images {
  width: auto;
  height: 600px;
  }
  #block__RestoPalette {
    width: auto;
    height: 1200px;
    background-size: cover;
    margin-top: -250px;
  }

  /* le container principal menu    */
  .container__menu {
    width: 100%;
  }
  .block__menu {
    height: 600px;
    width: auto;
    margin-top: 150px;
    display: flex;
    align-content: stretch;
  }
  .block__titre{
    justify-content: center;
  }
  .container_blockLabel {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .label__menu{
    width: 100%;
    margin: 20px;
  }

  /* Bouton Commander */
  .element-btn {
    width: 400%;
  }
  .block__btn a {
    margin-left: -200px;
  }
  /* footer */
  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;

  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px
  }

}
/* Mode Desktop (Taille minimum pour les 13 pouces) */
@media screen and (min-width: 1311px) {
    body {
      width: 100%;
    }

  /* concernant l'image  */
  .block__images {
  width: auto;
  height: 600px;
  }
  #block__RestoPalette {
    width: auto;
    height: 1200px;
    background-size: cover;
    margin-top: -250px;
  }

  /* le container principal menu    */
  .container__menu {
    width: 100%;
  }
  .block__menu {
    height: 600px;
    width: inherit;
    margin-top: 150px;
    display: flex;
    align-content: stretch;
  }
  .block__titre{
    justify-content: center;
  }
  .container_blockLabel {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -50px;
  }
  .label__menu{
    width: 120%;
    margin: 20px 0;
  }
  /* Bouton Commander */
  .element-btn {
    width: 400%;
  }
  .block__btn a {
    margin-left: -200px;
  }
  /* footer */
  .container__down {
    width: auto;
  }
  .container__down h4 {
    display: flex;
    justify-content: center;
  }
  .container__down ul {
    width: auto;
    display: flex;
    flex-direction: row;

  }
  .container__down ul li {
    margin: auto;
    padding-right: 50px
  }

}
