
// Quelques mixins

@mixin flexBoite1 {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin flexBoite2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
