
// Les couleurs

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$colorGradient: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
$colorFooter: #353535;
$color-white: #fff;
$color-accent-white: #f2f2f2;

// les polices de caractères

$main-txt-font: 'Roboto';
$top-font: 'Shrikland';
